body{
    font-family:cursive;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height:70vh;
    background:linear-gradient(135deg, purple 0%,  orangered 100%);
    color: white;
}
#app{
    background-color:darkmagenta;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 10px 20px black;
    max-width: 400px;
    width: 90%;

}